﻿@font-face {
    font-family: newFont;
    src: url(ASSETS/FONTS/ogFont.ttf) format('truetype'),url(ASSETS/FONTS/ogFont.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}

html {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    top: 1%;
    left: 11%;
    width: 87%;
    position: relative;
    font-family: newFont, Arial sans-serif;
    margin: 1%;
}

body {
    overflow: hidden; /*  Disable scrollbars */
    display: block; /* No floating content on sides */
}

h1 {
    color: rgb(251, 204, 209);
    text-align-last: center;
    margin: 1%;
}

#id1 {
    border: dotted;
}

.class1 {
    border: 1px solid;
}



#the_canvas {
    outline: 1px solid rgb(25, 25, 25);
    max-height: 90vh;
    max-width: 74vw;
}

.red {
    background: #aa0000;
}

.green {
    background: #00aa00;
}

.blue {
    background: #0000aa;
}

.yellow {
    background: #aaaa00;
}

.round {
    display: flex;
    background: #222;
    height: 9em;
    width: 9em;
    border: 12px solid #000;
}








